

  /*links*/
    a { text-decoration: none; }
  a {font-size: 15px}

  a:link {
    color: #917f67;
  }

  a:visited {
    color: #917f67;
  }

  a:hover {
    color: #5c4434;
  }

  a:active {
    color: #5c4434;
  }

/*dropdown*/

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
  }

  .dropdown:hover 

  .dropdown-content {
    display: block;
  }


  